.vid-list-container{
    /* width:380px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: inline-block; */
}

.vid-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
    /* justify-content: space-between; */
}

.vid-container{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 296px;
    height: 224px;
    margin: 10px;
    border-radius: 4px;
    font-family: Segoe UI;
    display: inline-block;
    color: #242424;
}

.vid-frame{
    height: 124px;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .vid{
    width: 100%;
  }

  .vid-info{
    height:100px;
    width:auto;
    text-align: left;
    padding: 8px 12px 8px 12px;
    
  }

  .vid-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    
  }

  .vid-options{
    margin: 10px;
    text-align: right;
  }

  .vid-options__btn{
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 4px;
    color: #242424;
    height: 25px;
  }

  .vid-options__btn-preview{
    width: 100px;
    font-family: Segoe UI;
    border: 1.5px solid rgb(209, 209, 209);
    font-size: 12px;
    line-height: 17px;
    font-weight:500;
    text-align: center;
    margin-right: 10px;
  }
  .vid-options__btn__icon-play{
    margin-right: 10px;
    font-size: 14px;
  }

  .vid-options__btn-more{
    width: 18px;
    border: 0;
    font-size: 18px;
    letter-spacing: 0.01em;
    font-weight: bold;
  }
